@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* General */

.page {
  height: 100%;
  background-color: #F2F2F2;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #FFFFFF;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0px auto;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}


/* Buttons */

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background: #83B3D3;
  text-transform: uppercase;
  text-decoration: none;
}

.button-brown {
  background: #756257;
}

.button-large {
  font-size: 20px;
}

.button-reset {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  background: transparent;
}

/* Main */

/* Правильно */
.main-container {
  flex-grow: 1;
}

/* Header */

.header {
  min-height: 66px;
}

.logo-header {
  position: relative;
  z-index: 2;
  min-width: 139px;
}

.logo-header img {
  position: absolute;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0px 70px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  margin-left: 47px;
  margin-right: 267px;
  list-style-type: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  min-width: 345px;
}

/* Подчеркивание активной ссылки */
.nav-active::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 68px;
  top: 66px;
  bottom: 0;
  background-color: #756257;
  z-index: 1;
}

.nav-item {
  list-style-type: none;
  padding: 20px 34px 20px 0px;
  display: flex;
  align-items: center;
}

.nav-link {
  display: block;

  color: #000000;
  text-decoration: none;
}

.additional-menu-btn {
  display: block;
  width: 42px;
  height: 42px;
}

.additional-menu {
  display: flex;
  justify-content: flex-start;
  min-width: 264px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.additional-btn-brown {
  display: block;
  text-align: center;
  margin-top: 14px;
  margin-left: 20px;
  height: 30px;
  width: 160px;
}

/* Welcome and main info */

.welcome-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.page-container {
  margin: 0 auto;
}

.welcome-section {
  position: relative;
  padding-top: 51px;
  background-color: #83B3D3;
  background-image: url(/images/backgrounds/index-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-section::after {
  position: absolute;
  content: "";
  bottom: 0;
  background-image: url(/images/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 57px;
  right: 0;
  left: 0;
}

.welcome-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
}

.main-info {
  margin-top: 63px;
  margin-bottom: 80px;
}

.info-content {
  margin-top: 31px;
  margin-bottom: 0px;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.info-title {
  margin: 0;
}

/* Advantages */

.advantages {
  margin-top: 63px;
  text-align: center;
}

.advantages-main-title {
  padding: auto;
  outline: 1px dotted red;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-list-inner {
  background-color: #FFFFFF;
  color: #333333;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:not(.advantages-item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
  ;
}

.advantages-item-large {
  color: #FFFFFF;
  background: #83B3D3;
}

.advantages-list-inner .advantages-item:nth-child(even) {
  background-color: #FFFFFF;
}

.advantages-item-large>.advantages-title {
  color: #FFFFFF;
}

.advantages-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  text-align: center;
}

/* Search hotel */
.hotels-search {
  text-align: center;
}

.mailing-main {
  background-image: url("/images/backgrounds/background.jpg");
  background-size: 100% auto;
  background-size: cover;
}

.mailing-main .title,
.mailing-main .content {
  color: #FFFFFF;
}

.mailing-main-form {
  text-align: center;
}

/* Footer */

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 72px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  outline: 1px dotted red;
}

.social-item {
  margin: 0 2px;
}

.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

/* Catalog styles */

.catalog-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breadcrumbs {
  font-size: 16px;
}

.catalog-main {
  background-image: url("/images/backgrounds/catalog-background\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.catalog-header-title {
  color: #FFFFFF;
  font-size: 60px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
}

.control,
.range-title {
  font-weight: 400;
  font-size: 18px;
}

.range-transparent {
  text-align: right;
  opacity: 0.3;
}

.range-input {
  background: transparent;
  font-weight: 400;
  font-family: inherit;
  font-size: 18px;
  color: #FFFFFF;
}

.sorting-result-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.select-list {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
}

.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-description {
  font-weight: 400;
  font-size: 18px;
}

.hotel-card-rating {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.pagination-link {
  list-style-type: none;
  font-weight: 700;
  font-size: 20px;
  background: #83B3D3;
  color: #FFFFFF;
  text-decoration: none;
}

.mailing-main-title {
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}

.mailing-main-description {
  font-size: 22px;
}

.field-input {
  font-family: inherit;
  font-size: 18px;
  color: #000000;
  background-color: #F2F2F2;
}