@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* General */

.body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  /* background: #F2F2F2; */
  color: #333333;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background: #83B3D3;
  text-transform: uppercase;
  text-decoration: none;
}

.button-want {
  background: #756257;
}

/* Header */

.navigation-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
}

/* Advantages */

.welcome-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  /* text-align: center; */
  text-transform: uppercase;
  color: #000000;
}

.welcome-content {
  font-size: 22px;
  line-height: 36px;
  /* text-align: center; */
}

.advantages-list-inner {
  background-color: #FFFFFF;
  color: #333333;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-large {
  color: #FFFFFF;
  background: #83B3D3;
}

.advantages-item-large>.advantages-title {
  color: #FFFFFF;
}

.advantages-list-inner .advantages-item:nth-child(even) {
  background-color: #FFFFFF;
}

.advantages-item:not(.advantages-item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
  ;
}

.advantages-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  text-align: center;
}

.hotels-search {
  background-color: #FFFFFF;
}

.hotels-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hotels-search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.mailing-main {
  background-image: url("/images/background.jpg");
  background-size: 100% auto;
}

.mailing-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mailing-main-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.main-footer {
  background-color: #FFFFFF;
}

.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-main {
  background-image: url("/images/catalog-background\ 1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.range-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.3;
}

.range-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.sorting-result-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.card-description-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.card-description-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-rating {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.pagination-list {
  list-style-type: none;
}

.pagination-link-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.shown-pieces-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.select-button {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.field-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* display: flex;
  align-items: center; */
  color: #000000;
  opacity: 0.6;
}

.black {
  color: #000000
}

.grey {
  color: #333333;
}