@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* General */

.page {
  height: 100%;
  background-color: #F2F2F2;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #FFFFFF;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0px auto;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}


/* Buttons */

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background: #83B3D3;
  text-transform: uppercase;
  text-decoration: none;
}

.button-brown {
  background: #756257;
}

.button-large {
  font-size: 20px;
}

.button-reset {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  background: transparent;
}

/* Main */

/* Правильно */
.main-container {
  flex-grow: 1;
}

/* Header */

.header {
  min-height: 66px;
}

.logo-header {
  position: relative;
  z-index: 2;
  min-width: 139px;
}

.logo-header img {
  position: absolute;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0px 70px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  margin-left: 47px;
  margin-right: 267px;
  list-style-type: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  min-width: 345px;
}

/* Подчеркивание активной ссылки */
.nav-active::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 68px;
  top: 64px;
  bottom: 0;
  background-color: #756257;
  z-index: 1;
}

.nav-item {
  list-style-type: none;
  padding: 20px 34px 20px 0px;
  display: flex;
  align-items: center;
}

.nav-link {
  display: block;

  color: #000000;
  text-decoration: none;
}

.additional-menu-btn {
  display: block;
  position: relative;
  width: 42px;
  height: 100%;
}

.additional-menu {
  display: flex;
  flex-wrap: wrap;
  min-width: 264px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-item {
  margin: 0;
}

.additional-btn-brown {
  display: block;
  text-align: center;
  margin-top: 13px;
  margin-left: 18px;
  height: 30px;
  width: 160px;
  line-height: 20px;
  padding-top: 9px;
  border-radius: 4px;
}

.svg-search {
  padding-top: 23px;
  padding-left: 9px;
}

.svg-like {
  padding-top: 24px;
  padding-left: 9px;
}

.favourites-btn::after {
  position: absolute;
  content: "12";
  font-size: 10px;
  font-family: inherit;
  text-align: center;
  font-weight: 400;
  line-height: 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20px;
  height: 20px;
  top: 14px;
  left: 22px;
  bottom: 24px;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 10px;
}

/* Welcome and main info */

.welcome-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.page-container {
  margin: 0 auto;
}

.welcome-section {
  position: relative;
  padding-top: 51px;
  background-color: #83B3D3;
  background-image: url(/images/backgrounds/index-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-section::after {
  position: absolute;
  content: "";
  bottom: 0;
  background-image: url(/images/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 57px;
  right: 0;
  left: 0;
}

.welcome-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
}

.main-info {
  margin-top: 63px;
  margin-bottom: 80px;
}

.info-content {
  margin-top: 31px;
  margin-bottom: 0px;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.info-title {
  margin: 0;
}

/* Advantages */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #FFFFFF;
}

.advantages-list-inner {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #333333;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #333333;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  min-height: 384px;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0%;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  min-height: 384px;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0%;
  background: #83B3D3;
}

.advantages-item-large {
  flex-grow: 2;
}

.services-list .service-item:nth-child(odd),
.advantages-list-inner .advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-inner .advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 97px;
  margin-bottom: 0;
}

.advantages-description {
  text-align: center;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 0;
}

.svg-house {
  display: block;
  margin: 0;
  padding: 89px 163px 0px 163px;
}

.svg-food {
  display: block;
  margin: 0;
  padding: 91px 163px 0px 163px;
}

.svg-souvenirs {
  display: block;
  padding: 85px 168px 0px 168px;
}

.title-service {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.description-service {
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 79px;
}

/* Search hotel */
.hotels-search {
  align-items: center;
  min-height: 417px;
  text-align: center;
  padding-top: 91px;
  padding-bottom: 93px;
  box-sizing: border-box;
}

.search-title {
  margin: 0;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 29px;
  text-align: center;
  margin-bottom: 0;
}

.hotels-search-button {
  display: block;
  margin-left: 312px;
  line-height: 36px;
  padding-top: 15px;
  padding-bottom: 9px;
  width: 575px;
  border-radius: 10px;
  margin-top: 56px;
}

/* Subscription */

.subscription-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 411px;
  background-image: url("/images/backgrounds/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-title {
  color: #FFFFFF;
  margin-top: 94px;
  margin-bottom: 0;
}

.subscription-description {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  margin-top: 29px;
  margin-bottom: 0;
  text-align: center;
}

.subscription-main-form {
  display: flex;
  margin-top: 46px;
  margin-bottom: 94px;
  text-align: center;
}

/* Проверить фон */
input {
  border-radius: 10px 0px 0px 10px;
  border: 3px transparent;
  box-sizing: border-box;
  padding-left: 22px;
  padding-right: 19px;
  min-width: 600px;
  min-height: 60px;
}

.btn-submit {
  border-radius: 0px 10px 10px 0px;
  box-sizing: border-box;
  border: transparent;
  width: 200px;
  height: 60px;
}

/* Footer */

.main-footer {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 72px 40px 63px;
  min-width: 1200px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 107px;
  height: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-item:not(:last-child) {
  margin: 0px 2px 0px 0px;
}

.social-link {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
}

.svg-social {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding-right: 6px;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.footer-developer {
  padding-right: 1px;
  padding-top: 3px;
}

/* Catalog styles */

.catalog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  background-image: url("/images/backgrounds/catalog-background\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

/* Breadcrambs */

.breadcrumbs-title {
  height: 72px;
  margin: 0;
  color: #FFFFFF;
  font-size: 60px;
  line-height: 77px;
}

.breadcrumbs {
  margin: 34px 0 0 71px;
  font-size: 16px;
}

.breadcrumbs-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 2px;
}

.breadcrumbs-item:nth-child(2) {
  margin-left: 11px;
  margin-right: 10px;
}

.breadcrumbs-link {
  font-family: inherit;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.nav-link-catalog::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 94px;
  top: 64px;
  bottom: 0;
  background-color: #756257;
  z-index: 1;
}

/* Filters */
.filter {
  display: flex;
  margin-left: 71px;
  margin-top: 45px;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  padding-left: 1px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
}

.infrastructure {
  position: relative;
  display: block;
  padding-left: 39px;
}

.title-infrastructure {
  margin-right: 67px;
}

.svg-checkbox {
  position: absolute;
  color: #FFFFFF;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.infrastructure-input[type="checkbox"]:checked+.svg-checkbox {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(/images/icon/checkbox-checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 0px;
  left: 0px;
}

.filter-infrastructure {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 1px;
}

.ifrastructure-item:nth-child(2) {
  margin-top: 13px;
  margin-bottom: 13px;
}

.checkbox-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.filter-type-house {
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
}

.control,
.range-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.range-transparent {
  text-align: right;
  opacity: 0.3;
}

.range-input {
  background: transparent;
  font-weight: 400;
  font-family: inherit;
  font-size: 18px;
  color: #FFFFFF;
}

.sorting-result-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.select-list {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
}

.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-description {
  font-weight: 400;
  font-size: 18px;
}

.hotel-card-rating {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.pagination-link {
  list-style-type: none;
  font-weight: 700;
  font-size: 20px;
  background: #83B3D3;
  color: #FFFFFF;
  text-decoration: none;
}

.mailing-main-title {
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}

.mailing-main-description {
  font-size: 22px;
}

.field-input {
  font-family: inherit;
  font-size: 18px;
  color: #000000;
  background-color: #F2F2F2;
}